<h1>Menu Cifrados</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoBasico">Cifrado Basico</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Cifrados" asp-action="CifradoEficiente">Cifrado Eficiente (salt)</a>
    </li>
</ul>